.container.firstcontent

    h2 Contatti

    h1 Come continuare?
    p.text L’analisi prosegue per i prossimi mesi, osservndo se i traccianti diminuiscono o crescono nel tempo. Si andrà più in profondità per individuare il fingerprinting dei dispositivi, e si migliorerà la procedura per richiedere accesso ai propri dati. La strada è lunga e non può essere risolta da una persona sola.
    p.text L'iniziativa è già condivisa e sotto licenza 
        a(href="https://creativecommons.org/licenses/by/4.0/")
            img(src="/campaign/CC-A-88x31.png")
        |  
        a(href="https://github.com/vecna/itatopex/issues/") sulla piattaforma github
    p.text La piattaforma sulla quale è stata sviluppata l’analisi è: 
        a(href='https://www.github.com/vecna/invi.sible.link/', target='_blank') invi.sible.link
        |.

